.outer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 15px;
}

.flight_name {
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
  --totalTuple: 1;
  --slideUpHeight: 198;
  --arrow-offer-value: 40.5px;
  --arrow-value: 24px;
  cursor: pointer;
  visibility: visible;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: caption;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
}

.flight_details {
  display: flex;
}

.flight_logo {
  -webkit-text-size-adjust: 100%;
  --totalTuple: 1;
  --slideUpHeight: 198;
  --arrow-offer-value: 40.5px;
  --arrow-value: 24px;
  cursor: pointer;
  visibility: visible;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: caption;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, Arial, sans-serif;
  border-style: none;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 4px;
  margin-left: 4px;
  width: 50px;
  height: 50px;
}

.inner_flight_detail {
  display: flex;
  flex-direction: column;
}

.inner_flight_detail_p {
  margin: auto;
  justify-content: center;
  --width: 100px;
  font: 400 1.2rem / 1.185 Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 0px 1rem;
}
.blue_flight {
  color: blue;
}

.outerbtn {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  height: 40px;
  width: 90px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 1;
  transition: all 0.2s ease;
  font-weight: 600;
  border-radius: 8px;
  background-color: #ff4f17;
  align-self: center;
  justify-content: center;
}

.outerbtn span {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.mostOuter {
  display: flex;
  justify-content: space-evenly;
}

.linebarrir {
  -webkit-text-size-adjust: 100%;
  --totalTuple: 1;
  --slideUpHeight: 198;
  --arrow-offer-value: 40.5px;
  --arrow-value: 24px;
  cursor: pointer;
  visibility: visible;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: caption;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.cityedit {
  --width: 100px;
  font: 400 1.2rem / 1.185 Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(113, 113, 113);
  margin: 0px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 0px 1rem;
}
