body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: caption;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, Arial, sans-serif;
  display: block;
}

.sideBarItems {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  width: 25%;
  height: 100%;
}

.ulStyles {
  list-style: none;
  gap: 10px;
  width: 80%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flightItem {
  list-style: none;
  color: #36c;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-weight: 300;
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
  margin: 20px 200px;
}

.filter_div {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* background-color: aliceblue; */
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-left: 5%;
}
